<!DOCTYPE html>
<html>
<head>
<title>Food Panda at LUMS</title>
<!-- for-mobile-apps -->

<!-- //FlexSlider -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body>
<!-- banner -->
	<div class="services">
		<div class="container">
			<div class="services-grid">
				<h3>What We Offer</h3>
				<div class="line">
				</div>
				<p class="proident">We offer quick food delivery fresh from the oven right at your doorstep</p>
				<br>
				<br>
				<br>
				<h3>More Details</h3>
				<br>
				<p class="proident">Email address: 17100104@lums.edu.pk</p>
				<p class="proident">Contact number: 03353258027</p>
				<p class="proident">Address: Luums, Male Hostel, M-5, Room# 202</p>
				
<!-- //services -->
<!--footer-->
	<!-- for bootstrap working -->
		<script src="js/bootstrap.js"> </script>
<!-- //for bootstrap working -->
</body>
</html>
